<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Add TV Show</div>
    <div class="panel-body">
      <form method="post" ng-submit="addShow()" name="addForm" class="form-inline">
        <div class="form-group">
          <input class="form-control" type="text" name="showName" ng-model="showName" placeholder="Enter TV show name" autofocus>
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>