<div class="container">
  <h5 class="page-title">Filter By</h5>
  <div class="row">
    <div class="col-xs-6 text-center">
      <span class="glyphicon glyphicon-film"></span>
      <h5>Alphabet</h5>
      <div class="horizontal-line"></div>
      <ul class="list-inline text-muted">
        <li ng-repeat="char in alphabet">
          <span ng-click="filterByAlphabet(char)">{{char}}</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 text-center">
      <span class="glyphicon glyphicon-screenshot"></span>
      <h5>Genre</h5>
      <div class="horizontal-line"></div>
    </div>
  </div>
</div>

<div class="container">
  <h5 class="page-title">{{headingTitle}}</h5>
  <div class="pull-right">
    <input class="search" type="text" ng-model="query.name" placeholder="Search...">
  </div>
  <div class="row show-list">
    <div class="col-xs-3" ng-repeat="show in shows | filter:query | orderBy:'rating':true">
      <a href="/shows/{{show._id}}">
        <img class="img-rounded" ng-src="{{show.poster}}" width="100%"/>
      </a>
      <div class="caption">
        <h5><a href="/shows/{{show._id}}">{{show.name}}</a></h5>
        <p class="text-muted">Episodes: <strong>{{show.episodes.length}}</strong></p>
      </div>
    </div>
  </div>
</div>