<div class="jumbotron">
  <div class="container">
    <div class="alphabetical-list">
      <a href="#">0-9</a>
      <a href="#">A</a>
      <a href="#">B</a>
      <a href="#">C</a>
      <a href="#">D</a>
      <a href="#">E</a>
      <a href="#">F</a>
      <a href="#">G</a>
      <a href="#">H</a>
      <a href="#">I</a>
      <a href="#">J</a>
      <a href="#">K</a>
      <a href="#">L</a>
      <a href="#">M</a>
      <a href="#">N</a>
      <a href="#">O</a>
      <a href="#">P</a>
      <a href="#">Q</a>
      <a href="#">R</a>
      <a href="#">S</a>
      <a href="#">T</a>
      <a href="#">U</a>
      <a href="#">V</a>
      <a href="#">W</a>
      <a href="#">X</a>
      <a href="#">Y</a>
      <a href="#">Z</a>
    </div>
    <div class="categories-list">
      <ul class="list-inline">
        <li><a href="#">Action</a></li>
        <li><a href="#">Adventure</a></li>
        <li><a href="#">Animation</a></li>
        <li><a href="#">Children</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Crime</a></li>
        <li><a href="#">Documentary</a></li>
        <li><a href="#">Drama</a></li>
        <li><a href="#">Family</a></li>
        <li><a href="#">Fantasy</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Home and Garden</a></li>
        <li><a href="#">Horror</a></li>
        <li><a href="#">Mini-Series</a></li>
        <li><a href="#">Mystery</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Reality</a></li>
        <li><a href="#">Romance</a></li>
        <li><a href="#">Sci-Fi</a></li>
        <li><a href="#">Sport</a></li>
        <li><a href="#">Suspense</a></li>
        <li><a href="#">Talk Show</a></li>
        <li><a href="#">Thriller</a></li>
        <li><a href="#">Travel</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Top Shows</h3>
    </div>
    <div class="panel-body">

      <div class="row show-list">
        <div class="col-xs-6 col-md-4">
          <img class="img-rounded" src="/images/thumb.jpg" width="100%"/>
          <div class="text-center">
            <a class="show-name" href="#">Show name</a>
          </div>
          <div class="text-center text-muted">
            Followers: 20050 | Episodes: 72
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img class="img-rounded" src="/images/thumb.jpg" width="100%"/>
          <div class="text-center">
            <a class="show-name" href="#">Show name</a>
          </div>
          <div class="text-center text-muted">
            Followers: 20050 | Episodes: 72
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img class="img-rounded" src="/images/thumb.jpg" width="100%"/>
          <div class="text-center">
            <a class="show-name" href="#">Show name</a>
          </div>
          <div class="text-center text-muted">
            Followers: 20050 | Episodes: 72
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img class="img-rounded" src="/images/thumb.jpg" width="100%"/>
          <div class="text-center">
            <a class="show-name" href="#">Show name</a>
          </div>
          <div class="text-center text-muted">
            Followers: 20050 | Episodes: 72
          </div>
        </div>
        <div class="col-xs-6 col-md-4">
          <img class="img-rounded" src="/images/thumb.jpg" width="100%"/>
          <div class="text-center">
            <a class="show-name" href="#">Show name</a>
          </div>
          <div class="text-center text-muted">
            Followers: 20050 | Episodes: 72
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
