<div class="container">
  <br/>
  <div class="row">
    <div class="pretty-form">
      <form method="post" ng-submit="login()" name="loginForm" class="panel">
        <div class="panel-body">
          <h2>Login</h2>
          <div class="form-group">
            <span class="input"></span>
            <input type="text" name="email" ng-model="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <span class="input"></span>
            <input type="password" name="password" ng-model="password" placeholder="Password" required>
          </div>
          <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success">Sign In</button>
        </div>
        <div class="panel-footer">
          Don't have any account? <a href="#/signup">Sign up to get started</a>
        </div>
      </form>
    </div>
  </div>
</div>