<div class="container">
  <br/>
  <div class="row">
    <div class="pretty-form">
      <form method="post" ng-submit="signup()" name="signupForm" class="panel">
        <div class="panel-body">
          <h1>Sign up</h1>
          <div class="form-group">
            <span class="input"></span>
            <input type="text" name="fullName" ng-model="fullName" placeholder="Full name" required>
          </div>
          <div class="form-group">
            <span class="input"></span>
            <input type="email" name="email" ng-model="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <span class="input"></span>
            <input type="password" name="password" ng-model="password" placeholder="Password" required>
          </div>
          <div class="form-group">
            <span class="input"></span>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" repeat-password="password" placeholder="Confirm" required>
          </div>
          <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-success">Create Account</button>
        </div>
      </form>
    </div>
  </div>
</div>